.bleu {
    color: #3f65f0;
}

.noir {
    color: black;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3f65f0;
    font-size: xxx-large;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    padding: 8px 12px;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 6%;
}

nav button {
    background-color: #3f65f0;
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: smaller;
}
a {
    color: black;
}

